<a href="https://colab.research.google.com/github/no22089/CE880-Lab-Task/blob/main/week_2_exercise_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! git clone https://github.com/sagihaider/CE880.git

Cloning into 'CE880'...
remote: Enumerating objects: 403, done.
remote: Counting objects: 100% (220/220), done.
remote: Compressing objects: 100% (114/114), done.
remote: Total 403 (delta 120), reused 197 (delta 106), pack-reused 183
Receiving objects: 100% (403/403), 7.81 MiB | 22.28 MiB/s, done.
Resolving deltas: 100% (187/187), done.

In [9]:
# Unzip Data 
from zipfile import ZipFile
file_name = "/content/CE880/Data/Data.zip"
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('done')

done

In [10]:
import pandas as pd
filename ="/content/Data/heart.csv"
data = pd.read_csv(filename)
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [11]:
import pandas as pd
filename ="/content/Data/HR.xlsx"
data1 = pd.read_excel(filename)
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [12]:
with open(r'/content/Data/Shakespeare.txt', 'r') as f:
  print(f.read())

If you cannot understand my argument,
and declare "It's Greek to me",
you are quoting Shakespeare;
if you claim to be more sinned against than sinning,
you are quoting Shakespeare;
if you recall your salad days,
you are quoting Shakespeare;
if you act more in sorrow than in anger,
if your wish is father to the thought,
if your lost property has vanished into thin air,
you are quoting Shakespeare;
if you have ever refused to budge an inch or suffered from green-eyed jealousy,
if you have played fast and loose,
if you have been tongue-tied,
a tower of strength,
hoodwinked or in a pickle,
if you have knitted your brows,
made a virtue of necessity,
insisted on fair play,
slept not one wink,
stood on ceremony,
danced attendance (on your lord and master),
laughed yourself into stitches,
had short shrift,
cold comfort or too much of a good thing,
if you have seen better days or lived in a fool's paradise - why,
be that as it may,
the more fool you,
for it is a foregone conclusion that you are (as good luck would have it) quoting Shakespeare;
if you think it is early days and clear out bag and baggage,
if you think it is high time and that that is the long and short of it,
if you believe that the game is up and that truth will out even if it involves your own flesh and blood,
if you lie low till the crack of doom because you suspect foul play,
if you have your teeth set on edge (at one fell swoop) without rhyme or reason,
then - to give the devil his due -
if the truth were known (for surely you have a tongue in your head) you are quoting Shakespeare;
even if you bid me good riddance and send me packing,
if you wish I were dead as a door-nail,
if you think I am an eyesore,
a laughing stock,
the devil incarnate,
a stony-hearted villain,
bloody-minded or a blinking idiot,
then - by Jove! O Lord!
Tut,
tut! for goodness' sake! what the dickens!
but me no buts it is all one to me,
for you are quoting Shakespear.

In [13]:
import json
filename ="/content/Data/TB.json"
with open(filename, 'r') as json_file:
     json_data = json.load(json_file)

data3 = pd.DataFrame(json_data)
data3

,no,id,name,gender,date,time,fever for two weeks,coughing blood,sputum mixed with blood,night sweats,chest pain,back pain in certain parts,shortness of breath,weight loss,body feels tired,lumps that appear around the armpits and neck,cough and phlegm continuously for two weeks to four weeks,swollen lymph nodes,loss of appetite
0,1,7810789740,Gerik,Male,1/25/2021,10:51 AM,0,0,0,1,0,0,1,0,1,0,1,0,0
1,2,3263348302,Rafael,Female,10/15/2020,5:18 PM,0,0,0,0,1,0,1,0,0,1,0,1,1
2,3,6746607208,Meriel,Male,5/16/2020,9:19 AM,0,1,1,0,0,0,1,0,1,1,1,1,0
3,4,7334455746,Hy,Male,12/1/2020,11:23 AM,0,0,0,1,1,0,1,0,0,1,1,0,1
4,5,8364135376,Abramo,Male,8/4/2020,11:51 AM,0,1,1,1,0,1,1,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,0270574999,Simonette,Female,8/1/2020,2:40 PM,1,1,1,1,0,1,1,1,0,1,1,0,0
996,997,7241513312,Edmon,Female,2/16/2020,2:18 PM,1,0,0,1,1,0,1,0,0,1,0,0,0
997,998,1331588782,Gardener,Male,7/5/2020,3:38 PM,0,1,1,1,1,0,1,1,1,1,1,1,1
998,999,0079243134,Arel,Male,12/14/2020,11:31 AM,1,1,1,0,0,0,0,0,0,1,0,0,0
999,1000,2442974630,Dominique,Male,11/19/2020,6:47 PM,0,0,1,0,1,0,1,1,0,1,1,0,1